<style>
.k-select, .k-textbox, .k-datepicker {
	width: 100%;
	display: block;
	border-color: #CCC;
	border-width: 1px;
}

.k-select:hover, .k-textbox:hover {
	border-color: #BBB;
	border-width: 1px;
}

.k-select[readonly], .k-textbox[readonly], .k-select[disabled],
	.k-textbox[disabled] {
	background-color: rgba(243, 243, 243, .85) !important;
	box-shadow: none;
}
</style>


				
				
					<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<div id="example">
								<div class="demo-section k-content wide">
									<div id="chart"></div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div id="example">
								<div class="demo-section k-content wide">
									<div id="chart2"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				